---
---
@import "{{ site.theme }}";
/* Changing the backgroud color of code from white to transparent in Architect theme */
pre code { background-color: transparent; }
header a.button { visibility:hidden;}
aside#sidebar { visibility: hidden;}

/* Override the codeblock color scheme*/
.highlight {
    background-color: #f3f6fa;
}
pre {
    padding: 20px;
    overflow: auto;
    text-shadow: none;
    background: #f3f6fa;
    border: solid 1px #dce6f0;
    border-radius: 0.3rem;
    word-wrap: normal
}