---
---
@import "{{ site.theme }}";
/* Changing the backgroud color of code from white to transparent in Architect theme */
pre code { background-color: transparent; }
header a.button { visibility:hidden;}