---
---
@import "{{ site.theme }}";
/* Changing the backgroud color of code from white to transparent in Architect theme */
pre code { background-color: transparent; }
header a.button { visibility:hidden;}
aside#sidebar { visibility: hidden;}

/* Override the codeblock color scheme*/
.highlight {
    background-color: #f3f6fa;
}
pre {
    padding: 20px;
    overflow: auto;
    text-shadow: none;
    background: #f3f6fa;
    border: solid 1px #dce6f0;
    border-radius: 0.3rem;
    word-wrap: normal
}
.highlight .k, .highlight .kv {
    color: #2879d0; 
    font-weight: normal;
}

.highlight .o {
    color: #2879d0;
    font-weight: normal;
}

.output-highlight {
    color: #700bc5;    
}

.command-prompt {
    color: #726e6e;    
}

.command {
    color: #ba7c05;
    font-weight: normal;
}

.command-bold {
    color: #ba7c05;
    font-weight:bold;
}
